@import "../../source/color/color.scss";

.mainService {
  width: 100%;
  margin-top: 100px;

  @media (min-width: 320px) and (max-width: 480px) {
   margin-top: 10px;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    margin-top: 30px;
  }

  @media (min-width: 768px) and (max-width: 992px) {
   margin-top: 30px;
  }


  .mainService__title {
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 50px;

    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 38px;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      font-size: 46px;
    }
  }


  .mainService__box {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
  }

  .mainService1 {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 25px;
    }
  }

  .mainService2 {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }


    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: -20px;
      top: 0;
    }
  }

  .mainService3 {
    flex-grow: 1; 
    width: 260px; 
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
      flex: none;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
}

  .mainService1a {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    flex: 1;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
      flex: none;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      flex: none;
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      flex: none;
      width: 100%;
    }



    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .mainService2a {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }



    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: -20px;
      top: 0;
    }
  }

  .mainService3a {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: $primary-color;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }



    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .mainService__box-title {
    font-size: 24px;
    font-weight: 700;
    color: $color-black;
    position: relative;
    z-index: 3;
  }

  .mainService__about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
  }

  .mainService__q{
    p{
        font-size: 18px;
        font-weight: 600;
        color: $primary-color;
        text-transform: uppercase;

        @media (min-width: 320px) and (max-width: 480px) {
          margin-bottom: 20px;
        }

        @media (min-width: 480px) and (max-width: 768px) {
          margin-bottom: 30px;
        }
    
        @media (min-width: 768px) and (max-width: 992px) {
          margin-bottom: 30px;
        }
    
    }
  }

  .mainService__r{
    width: 540px;
    max-width: 540px;

    p{
        font-size: 16px;
        font-weight: 400;
        color: #18162DE5;

        margin-bottom: 35px;
    }
  }
}

// service 1 a

.service1a{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 300px;
  position: relative;

  .service1a__text{
    width: 100%;
  }

  .service1a__title{
    font-size: 54px;
    font-weight: 400;
    color: $secondary-color ;
    margin-bottom: 195px;
  }

  .service1a__button{
    width: 360px;
    height: 67px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: $primary-color;
    font-size: 16px;
    font-weight: 700;
    color:$color-white;
    cursor: pointer;
    transition: background .5s;

    &:hover{
      background: none;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  .service1a__img{
    width: 100%;
    text-align: right;
    border: 2px solid red;
    position: absolute;
    top: 0;
    right: 0;

    img{
      border: 2px solid red;
      
    }
  }
}

// service 1 b

.service1b{
  width: 100%;

  .service1b__title{
    font-size: 48px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 35px;
  }

 .service1b__boxes {
    display: flex;
    transition: none;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service1b__box{
    width: 350px;
    border-radius: 20px;
    background: $color-white;
    padding: 35px;
    box-shadow: -4px 4px 16px 0px #0000001A;
    transition: all .3s;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

  }
}

// service1c

.service1c{
  width: 100%;
  margin-top: 100px;

  .service1c__title{
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 45px;
  }

  .service1c__boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service1c__box{
    width: 350px;
    height: 100px;
    max-width: 350px;
    border-radius: 20px;
    background: $color-white;
    box-shadow: -4px 4px 16px 0px #0000001A;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;

    p{
      font-size: 22px;
      font-weight: 700;
      color: $color-black;
    }
  }
}