@import "../../source/color/color.scss";

.mainService {
  width: 100%;
  margin-top: 100px;

  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 10px;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    margin-top: 30px;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    margin-top: 30px;
  }

  .mainService__title {
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 50px;

    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 38px;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      font-size: 46px;
    }
  }

  .mainService__box {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
  }

  .mainService1 {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 25px;
    }
  }

  .mainService2 {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: -20px;
      top: 0;
    }
  }

  .mainService3 {
    flex-grow: 1;
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
      flex: none;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .mainService1a {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    flex: 1;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
      flex: none;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      flex: none;
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      flex: none;
      width: 100%;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .mainService2a {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: -20px;
      top: 0;
    }
  }

  .mainService3a {
    width: 260px;
    height: 250px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    background: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: $primary-color;
    cursor: pointer;
    transition: 0.3s;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      width: 47%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 47%;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .mainService__box-title {
    font-size: 24px;
    font-weight: 700;
    color: $color-black;
    position: relative;
    z-index: 3;
  }

  .mainService__about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
  }

  .mainService__q {
    p {
      font-size: 18px;
      font-weight: 600;
      color: $primary-color;
      text-transform: uppercase;

      @media (min-width: 320px) and (max-width: 480px) {
        margin-bottom: 20px;
      }

      @media (min-width: 480px) and (max-width: 768px) {
        margin-bottom: 30px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        margin-bottom: 30px;
      }
    }
  }

  .mainService__r {
    width: 540px;
    max-width: 540px;

    p {
      font-size: 16px;
      font-weight: 400;
      color: #18162de5;

      margin-bottom: 35px;
    }
  }
}

// service 1 a

.service1a {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 300px;
  position: relative;

  .service1a__text {
    width: 100%;
  }

  .service1a__title {
    font-size: 54px;
    font-weight: 400;
    color: $secondary-color;
    margin-bottom: 195px;
  }

  .service1a__button {
    width: 360px;
    height: 67px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: $primary-color;
    font-size: 16px;
    font-weight: 700;
    color: $color-white;
    cursor: pointer;
    transition: background 0.5s;

    &:hover {
      background: none;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  .service1a__img {
    width: 100%;
    text-align: right;
    border: 2px solid red;
    position: absolute;
    top: 0;
    right: 0;

    img {
      border: 2px solid red;
    }
  }
}

// service 1 b

.service1b {
  width: 100%;

  .service1b__title {
    font-size: 48px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 35px;
  }

  .service1b__boxes {
    display: flex;
    transition: none;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service1b__box {
    width: 350px;
    border-radius: 20px;
    background: $color-white;
    padding: 35px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
    }
  }
}

// service1c

.service1c {
  width: 100%;
  margin-top: 100px;

  .service1c__title {
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 45px;
  }

  .service1c__boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service1c__box {
    width: 350px;
    height: 100px;
    max-width: 350px;
    border-radius: 20px;
    background: $color-white;
    box-shadow: -4px 4px 16px 0px #0000001a;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;

    p {
      font-size: 22px;
      font-weight: 700;
      color: $color-black;
    }
  }
}

// service 2a

.service2a {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 300px;
  position: relative;

  .service2a__text {
    width: 100%;

    .service2a__text-title {
      font-size: 54px;
      font-weight: 500;
      color: $secondary-color;
    }

    .service2a__text-info {
      font-size: 16px;
      font-weight: 400;
      color: #18162de5;
      width: 495px;
      margin-top: 25px;
      margin-bottom: 50px;
    }

    .service2a__text-btn {
      width: 360px;
      height: 67px;
      border-radius: 10px;
      border: none;
      background: $primary-color;

      font-size: 16px;
      font-weight: 700;
      color: $color-white;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: none;
        border: 2px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  .service2a__img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// service 2b

.service2b {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 120px;

  .service2b__titles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .service2b__title {
      font-size: 28px;
      font-weight: 600;
      color: $primary-color;
    }

    .service2b__line {
      width: 70%;
      background: $primary-color;
      height: 4px;
    }
  }

  .service2b__boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;

    .service2b__text-name {
      font-size: 22px;
      font-weight: 400;
      color: #18162de5;
      width: 417px;
      margin-bottom: 55px;
    }

    .service2b__text-adjust {
      font-size: 22px;
      font-weight: 600;
      color: $primary-color;
      margin-bottom: 30px;
    }

    .service2b__text-info {
      width: 370px;
      font-size: 16px;
      font-weight: 400;
      color: #18162db2;
    }
  }
}

// service 3a

.service3a {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 300px;

  .service3a__text-title {
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
  }

  .service3a__text-info {
    width: 495px;
    color: #18162de5;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .service3a__text-btn {
    width: 360px;
    height: 67px;
    border-radius: 10px;
    border: none;
    background: $primary-color;
    font-size: 16px;
    font-weight: 700;
    color: $color-white;

    &:hover {
      background: none;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  .service3a__img {
    position: absolute;
    top: 150px;
    right: 0;
  }
}

// service 3b

.service3b {
  width: 100%;

  .service3b__title {
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 35px;
  }

  .service3b__boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service3b__box {
    width: 540px;
    height: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    box-shadow: -4px 4px 16px 0px #0000001a;
    margin-bottom: 30px;

    p {
      font-size: 22px;
      font-weight: 600;
      color: $secondary-color;
    }
  }
}

// service 4a

.service4a {
  width: 100%;
  margin-top: 100px;
  position: relative;

  .service4a__text-title {
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
  }

  .service4a__text-info {
    font-size: 16px;
    font-weight: 400;
    color: #18162de5;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 495px;
  }

  .service4a__types-title {
    font-size: 18px;
    font-weight: 600;
    color: $primary-color;
  }

  .service4a__type {
    width: 130px;
    text-align: center;
    margin-bottom: 20px;
  }

  .service4a__types-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;

    width: 460px;
    max-width: 460px;
  }

  .service4a__type-img {
    width: 130px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: $color-button;
    margin-bottom: 10px;
  }

  .service4a__type-title {
    font-size: 16px;
    font-weight: 600;
    color: $secondary-color;
  }

  .service4a__img {
    position: absolute;
    top: 0;
    right: 0;

    width: 1000px;

    img {
      width: 100%;
    }
  }
}

// service 4b

.service4b {
  width: 100%;
  margin-top: 100px;

.service4b__box{
  margin-top: 100px;
}

  .service4b__box-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .service4b__box-name {
    font-size: 32px;
    font-weight: 600;
    color: $primary-color;
  }

  .service4b__box-line {
    width: 80%;
    background: $primary-color;
    height: 4px;
  }

  .service4b__box-line2 {
    width: 70%;
    background: $primary-color;
    height: 4px;
  }

  .service4b__box-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .service4b__box-text{
    margin-bottom: 50px;
  }

  .service4b__box-title{
    font-size: 22px;
    font-weight: 400;
    color: $primary-color;
    margin-bottom: 10px;
  }

  .servce4b__box-info{
    width: 326px;
    font-size: 22px;
    font-weight: 400;
    color: $secondary-color;
  }
}

//service 4c

.service4c{
  width: 100%;
  margin-top: 100px;

  .service4c__title{
    font-size: 42px;
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: 30px;
  }

  .service4c__boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service4c__box{
    width: 352px;
    height: 100px;
    text-align: center;
    padding: 25px 60px;
    border-radius: 20px;
    box-shadow: -4px 4px 16px 0px #0000001A;
    margin-bottom: 50px;
    transition: all .3s;

    p{
      font-size: 22px;
      font-weight: 700;
      color: $secondary-color;
    }
  }
}


// service5a

.service5a{
  width: 100%;
  margin-top: 100px;
  position: relative;

  .service5a__main{
    margin-bottom: 30px;
  }

  .service5a__main-title{
    font-size: 54px;
    font-weight: 600;
    color: $secondary-color;
  }

  .service5a__main-info{
    font-size: 16px;
    font-weight: 400;
    color: #18162DE5;
    width: 495px;
    margin-top: 25px;
    margin-bottom: 70px;
  }

  .service5a__title{
    font-size: 18px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 30px;
  }

  .service5a__box{
    width: 460px;
    max-width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service5a__type{
    width: 130px;
    text-align: center;
    margin-bottom: 30px;

    .service5a__type-img{
      width: 100%;
      height: 90px;
      background: $color-button;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
  }

  .service5a__type-title{
    font-size: 16px;
    font-weight: 600;
    color: $secondary-color;
    margin-top: 10px;
  }

  .service5a__img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

//service 5b

.service5b{
  width: 100%;

  .service5b__box-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .service5b__name{
    font-size: 32px;
    font-weight: 600;
    color: $primary-color;
  }

  .service5b__box-line{
    width: 80%;
    background: $primary-color;
    height: 4px;
  }

  .service5b__box-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .service5b__info{
    font-size: 22px;
    font-weight: 400;
    color: $secondary-color;
    width: 350px;
  }

}

//service 5c

.service5c{
  width: 100%;
  margin-top: 100px;

  .service5c__title{
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 45px;
    color: $secondary-color;
  }

  .service5c__boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service5c__box{
    width: 352px;
    height: 100px;
    border-radius: 20px;
    box-shadow: -4px 4px 16px 0px #0000001A;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    text-align: center;
    cursor: pointer;

    p{
      font-size: 22px;
      font-weight: 600;
      color: $secondary-color;
    }
  }
}

// service 6a 

.service6a{
  width: 100%;
  margin-top: 100px;
  position: relative;

  .service6a__main{
    margin-bottom: 30px;
  }

  .service6a__main-title{
    font-size: 54px;
    font-weight: 600;
    color: $secondary-color;
  }

  .service6a__main-info{
    font-size: 16px;
    font-weight: 400;
    color: #18162DE5;
    width: 495px;
    margin-top: 25px;
    margin-bottom: 70px;
  }

  .service6a__title{
    font-size: 18px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 30px;
  }

  .service6a__box{
    width: 460px;
    max-width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service6a__type{
    width: 130px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;

    .service6a__type-img{
      width: 100%;
      height: 90px;
      background: $color-button;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
  }

  .service6a__type-title{
    font-size: 16px;
    font-weight: 600;
    color: $secondary-color;
    margin-top: 10px;
  }

  .service6a__img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

//service 6b

.service6b{
  width: 100%;

  .service6b__box-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .service6b__name{
    font-size: 32px;
    font-weight: 600;
    color: $primary-color;
  }

  .service6b__box-line{
    width: 70%;
    background: $primary-color;
    height: 4px;
  }

  .service6b__box-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .service6b__info{
    font-size: 22px;
    font-weight: 400;
    color: $secondary-color;
    width: 350px;
  }

}


//service 7b
.service7b{
  width: 100%;

  .service7b__box-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .service7b__name{
    font-size: 32px;
    font-weight: 600;
    color: $primary-color;
  }

  .service7b__box-lines{
    width: 60%;
    background: $primary-color;
    height: 4px;
  }

  .service7b__box-line{
    width: 70%;
    background: $primary-color;
    height: 4px;
  }

  .service7b__box-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .service7b__info{
    font-size: 22px;
    font-weight: 400;
    color: $secondary-color;
    width: 350px;
  }

}


// service 8a 

.service8a{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  position: relative;

  
  .service8a__main-title{
    font-size: 54px;
    font-weight: 600;
    color: $secondary-color;
  }

  .service8a__main-info{
    font-size: 16px;
    font-weight: 400;
    color: #18162DE5;
    width: 495px;
    margin-top: 25px;
  }

  .service8a__main-btn {
    width: 360px;
    height: 67px;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    outline: none;
    background: $primary-color;
    font-size: 16px;
    font-weight: 700;
    color: $color-white;
    cursor: pointer;
    transition: background 0.5s;

    &:hover {
      background: none;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  .show__box-contacts{
    width: 226px;
    height: 67px;
    max-width: 226px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }

  .show__box-contact{
    width: 70px;
    height: 67px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg{
      font-size: 40px;
      color: $color-white;
    }
  }

  .blue{
    background: $primary-color;
  }

  .green{
    background: $color-green;
  }

  .service8a__img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

// seervice 8b

.service8b{
  width: 100%;
  margin-top: 100px;

  .service8b__title{
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 35px;
  }

  .service8b__box-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .service8b__name{
    font-size: 32px;
    font-weight: 600;
    color: $primary-color;
  }

  .service8b__box-line{
    width: 70%;
    background: $primary-color;
    height: 4px;
  }

  .service8b__box-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .service8b__info{
    font-size: 22px;
    font-weight: 400;
    color: $secondary-color;
    width: 600px;
  }
}

//service 8c

.service8c{
  width: 100%;
  margin-top: 100px;

  .service8c__title{
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 45px;
    color: $secondary-color;
  }

  .service8c__boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service8c__box{
    width: 352px;
    height: 100px;
    border-radius: 20px;
    box-shadow: -4px 4px 16px 0px #0000001A;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    text-align: center;
    cursor: pointer;

    p{
      font-size: 22px;
      font-weight: 600;
      color: $secondary-color;
    }
  }
}

// service 9b

.service9b{
  width: 100%;
  margin-top: 250px;

  .service9b__title{
    font-size: 54px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 35px;
  }

  .service9b__boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .service9b__box{
    width: 352px;
    height: 200px;
    max-height: 200px;
    border-radius: 20px;
    box-shadow: -4px 4px 16px 0px #0000001A;
    margin-bottom: 30px;
    padding: 25px 30px;
    text-align: left;
    cursor: pointer;
    transition:  all .3s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      scale: 1.1;
    }
  }

  .service9b__box-title{
    font-size: 22px;
    font-weight: 600;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .service9b__box-info{
    font-size: 16px;
    font-weight: 400;
    color: $secondary-color;
  }
}