@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

@import "./source/color/color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: auto;
  background: $color-white;
}

.container {
  padding: 0 100px;
  max-width: 1400px;
  margin: 0 auto;
  border: 2px solid red;

  @media (min-width: 320px) and (max-width: 480px) {
    padding: 0px 10px;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    padding: 0px 30px;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    padding: 0px 50px;
  }
}

a{
  color: $secondary-color;
}

.active {
  color: $primary-color;
}
